
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fcf9f2;
    color: #2b2b2b;
    line-height: 50px;
}



header {
    background-color: #4a0e17;
    color: #ffffff;
    padding: 20px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

header h1 {
    font-size: 30px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1px;
}

nav ul {
      
      justify-content: center;
      gap: 5px;
    }



nav a {
    color: #ffffff;
    font-weight: 600;
}


main {
    max-width: 1000px;
    margin: auto;
}

section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000000d;
}

h2 {
    color: #4a0e17;
    border-bottom: 2px solid #f0e6d2;
    
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    color: #444444;
}


.img-container {
    text-align: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video-container iframe {
    max-width: 100%;
    border-radius: 8px;
}


footer {
    background-color: #1a1a1a;
    color: #dddddd;
    text-align: center;
}


  nav ul {
       justify-content: center;
  }

  .video-container iframe {
      width: 100%;
     height: 250px;
  }


  table {
    width: 100%;
    margin-top: 16px;
}

th, td {
    border: 1px solid #cccccc;
    padding: 10px;           
    text-align: left;        
}

th {
    background-color: #4a0e17;
    color: white;  
}           